.catalog-additional {
  padding: 20px;
}

.catalog-additional__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
}

.catalog-additional__list {
  list-style: none;
}
