.page-main__title {
  font-family: $fonts-title;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

.page-main__subtitle {
  font-family: $fonts-title;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
