.show-more__title {
  font-family: $fonts-title;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.show-more__description {
  font-size: 12px;
  line-height: 16px;
  color: $color-special-dark-grey;
}

.show-more__link {
  color: $color-special-dark-grey;
  background-color: $color-grey;
}
