$fonts-title: "Oswald", "Arial", sans-serif;
$font-body: "Arial", sans-serif;

$color-black: #000000;
$color-white: #ffffff;

$color-green: #68b738;
$color-green-2: #5eaa2f;
$color-grey: #f2f2f2;
$color-grey-2: #ebebeb;
$color-special-grey: #cdcdcd;
$color-special-grey-2: #666666;
$color-special-dark-grey: #444444;
$color-special-dark-grey-2: #222222;
$color-error: #FF8282;
